.web-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.filters-page {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; // Prevent overflow when collapsed
  transition: max-height 0.3s ease; // Smooth transition for height

  &.collapsed {
    max-height: 60px; // Hide when collapsed
    padding: 0; // Remove padding when collapsed
    opacity: 1; // Fade out when collapsed
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #3c3a3a;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      color: #222222;
      transform: scale(1.02); // Slightly scale up on hover
    }

    &:active {
      transform: scale(0.98); // Slightly scale down on click
    }
    
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        margin-bottom: 5px;
        color: #555;
      }

      input,
      select,
      option {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: border-color 0.3s;
        color: black;

        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }

      .age-inputs,
      .date-inputs {
        display: flex;
        gap: 15px;

        input {
          flex: 1;
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;

      .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &.btn-primary {
          background-color: #007bff;
          color: #fff;

          &:hover {
            background-color: #0056b3;
          }
        }

        &.btn-secondary {
          background-color: #f8f9fa;
          color: #333;
          border: 1px solid #ddd;

          &:hover {
            background-color: #e2e6ea;
          }
        }
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .filters-page {
    max-height: 60px;
    padding: 0; // Remove padding when collapsed
    opacity: 1; // Fade out when collapsed

    &.collapsed {
      max-height: 100%; // Hide when collapsed
      padding: 15px;  
    }

    h2 {
      font-size: 20px;
    }

    form .form-group {
      input,
      select {
        font-size: 14px;
      }
    }

    form .form-actions {
      flex-direction: column;
      gap: 10px;
    }
  }
}