.filters-page {
  margin-bottom: 20px;
}
  
  .filters-page h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add spacing between form elements */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group .age-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-group .age-inputs input {
    width: 48%;
  }
  
  button.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  label, input, option, select {
    color: rgb(0, 0, 0);
  }
  
  button.btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .filters-page {
      padding: 20px;
    }
    .web-content {
      max-height: 200px;

    }
  
    .form-group input,
    .form-group select {
      padding: 10px;
    }
  }