:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tertiary-color: #28a745;
  --text-color: #333;
  --background-color: #f8f9fa;
  --card-background: #fff;
  --button-hover-opacity: 0.9;

  /* Dark Theme Colors */
  --dark-bg: #1e1e1e;
  --dark-text: #f5f5f5;
  --dark-card: #2c2c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-bg);
    --text-color: var(--dark-text);
    --card-background: var(--dark-card);
  }
}

.header {
    background-color:   #f8d7da;
    padding: 20px;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    color: var(--primary-color);
  }
  
  .nav-tabs {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .nav-tabs a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    color: var(--text-color);
    transition: color 0.3s ease;
  }
  
  .nav-tabs a:hover {
    color: #007bff;
  }

  .language-selector {
    margin-left: 15px; /* Space between the last tab and the language selector */
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 18px; /* Match font size with nav tabs */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Match background color */
    background-color: var(--card-background);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .language-selector select:hover {
    border-color: #007bff; /* Change border color on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .header {
      padding: 15px;
    }

    .language-selector select {
      font-size: 12px; /* Adjust font size for mobile */
      margin-top: 3px;
    }
  
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar {
      width: 100%;
      margin-top: 10px;
    }
  
    .search-bar input {
      width: 100%;
    }
  
    .nav-tabs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .nav-tabs a {
      margin-left: 0;
      margin-top: 5px;
      font-size: 16px;
      padding: 2px;
    }
  }