<div class="sitter-page">
  
  <div class="sitter-details">
    <h3>About the Sitter</h3>
    <h2><strong>{{ sitterData.name }}</strong></h2>
    <img [src]="sitterData.photo" alt="{{ sitterData.name }}" class="sitter-image" />
    
    <div class="details">
      <p><strong>Description:</strong> {{ sitterData.description }}</p>
      <p><strong>Location:</strong> {{ sitterData.location }}</p>
      <p><strong>Working Hours:</strong> {{ sitterData.work }}</p>
      <p><strong>Rate:</strong> {{ sitterData.rate}}</p>
      <p><strong>Experience:</strong> {{ sitterData.exp }} years</p>
      <p><strong>Case History:</strong> Good</p>
    </div>
    <button class="btn contact-btn" *ngIf="showContactButton" (click)="confirmBooking()">Contact</button>
  </div>

  <app-modal *ngIf="bookingConfirmed" (close)="bookingConfirmed = false"></app-modal>

</div>