<div class="announcement-page">
  
  <div class="sitter-details">
    <h1>About the Sitter</h1>
    <h2>Albert</h2>
    <img [src]="'https://static1.bigstockphoto.com/8/7/5/large1500/5781083.jpg'" alt="name" class="sitter-image" />
    <p><strong>Description:</strong> description </p>
    <p><strong>Location:</strong> Barysau </p>
    <p><strong>Working Hours:</strong> workingHours </p>
    <p><strong>Rate:</strong> 20 euro</p>
    <p><strong>Experience:</strong> 20 years </p>
    <p><strong>Case history</strong> good </p>
  </div>

  <button class="btn" (click)="confirmBooking()">Contact</button>

  <app-modal *ngIf="bookingConfirmed" (close)="bookingConfirmed = false"></app-modal>

</div>