<div class="profile-page">
  <h2>User Profile</h2>

  <div class="toggle-buttons">
    <button class="role-button" [class.active]="role === 'sitter'" (click)="toggleRole('sitter')">
      Sitter
    </button>
    <button class="role-button" [class.active]="role === 'petOwner'" (click)="toggleRole('petOwner')">
      Pet Owner
    </button>
  </div>

  <!-- Profile Header -->
  <div class="profile-header">
    <div class="profile-photo">
      <!-- Two-way binding for profile photo -->
      <img [src]="profilePhoto" alt="Profile Photo" />
    </div>
    <div class="profile-info">
      <h3>User Information</h3>
      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Role:</strong> {{ role === 'sitter' ? 'Sitter' : 'Pet Owner' }}</p>
      <p><strong>Location:</strong> {{ location }}</p>
    </div>
    <button class="btn" (click)="toggleEdit()">
      {{ isEditing ? 'Cancel' : 'Edit Profile' }}
    </button>
  </div>

  <!-- Edit Profile Section -->
  <div *ngIf="isEditing" class="profile-section">
    <h3>Edit Profile</h3>
    <form #editForm="ngForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="edit-photo">Profile Photo</label>
        <input type="file" id="edit-photo" (change)="onPhotoUpload($event)" />
      </div>
      <div class="form-group">
        <label for="edit-username">Username</label>
        <input
          type="text"
          id="edit-username"
          [(ngModel)]="tempProfile.username"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="edit-email">Email</label>
        <input
          type="email"
          id="edit-email"
          [(ngModel)]="tempProfile.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="edit-location">Location</label>
        <input
          type="text"
          id="edit-location"
          [(ngModel)]="tempProfile.location"
          name="location"
        />
      </div>
  
      <!-- Conditional Fields for Pet Owner -->
      <div class="petOwner" *ngIf="tempProfile.role === 'petOwner'">
        <div class="form-group">
          <label for="edit-petPhoto">Pet Photo</label>
          <input type="file" id="edit-petPhoto" (change)="onPetPhotoUpload($event)" />
        </div>
        <div class="form-group">
          <label for="role">Type of pet</label>
          <select id="role" [(ngModel)]="tempProfile.petInfo.type" name="petType">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-name">Name</label>
          <input
            type="text"
            id="edit-name"
            [(ngModel)]="tempProfile.petInfo.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="edit-breed">Breed</label>
          <input
            type="text"
            id="edit-breed"
            [(ngModel)]="tempProfile.petInfo.breed"
            name="breed"
          />
        </div>
        <div class="form-group">
          <label for="edit-age">Age</label>
          <input
            type="text"
            id="edit-age"
            [(ngModel)]="tempProfile.petInfo.age"
            name="age"
          />
        </div>
        <div class="form-group">
          <label for="edit-caseHistory">About Pet</label>
          <input
            type="text"
            id="edit-caseHistory"
            [(ngModel)]="tempProfile.petInfo.caseHistory"
            name="caseHistory"
          />
        </div>
      </div>
  
      <!-- Conditional Fields for Sitter -->
      <div class="sitter" *ngIf="tempProfile.role === 'sitter'">
        <div class="form-group">
          <label for="edit-description">Description</label>
          <input
            type="text"
            id="edit-description"
            [(ngModel)]="tempProfile.sitterInfo.description"
            name="description"
          />
        </div>
        <div class="form-group">
          <label for="edit-experience">Experience</label>
          <input
            type="text"
            id="edit-experience"
            [(ngModel)]="tempProfile.sitterInfo.experience"
            name="experience"
          />
        </div>
        <div class="form-group">
          <label for="edit-workingHours">Working Hours</label>
          <input
            type="text"
            id="edit-workingHours"
            [(ngModel)]="tempProfile.sitterInfo.workingHours"
            name="workingHours"
          />
        </div>
      </div>
  
      <button type="submit" class="btn">Save Changes</button>
    </form>
  </div>


  <div *ngIf="role === 'petOwner'" class="profile-section">
    <h3>About Your Pet</h3>
    <div class="profile-photo">
      <!-- Two-way binding for profile photo -->
      <img [src]="petInfo.photo" alt="Profile Photo" />
    </div>
    <p><strong>Type of Pet:</strong> {{ petInfo.type }}</p>
    <p><strong>Name:</strong> {{ petInfo.name }}</p>
    <p><strong>Breed:</strong> {{ petInfo.breed }}</p>
    <p><strong>Age:</strong> {{ petInfo.age }}</p>
    <p><strong>About Pet:</strong> {{ petInfo.caseHistory }}</p>
    <div class="availability">
      <label>
        <input type="checkbox" [checked]="shownOwner" (change)="updateAvailabilityMessage('owner')"/>
        <strong> Shown in the search</strong>
      </label>
      <br>
      <span class="availability-message" *ngIf="shownOwner">
        You are shown in the search
      </span>
      <span class="non-availability-message" *ngIf="!shownOwner">
        You are not shown in the search 
      </span>
    </div>
  </div>

  <div *ngIf="role === 'petOwner'" class="profile-section">
    <h3>Foster Care Announcements</h3>
    <button class="btn" (click)="createAd()">Create Announcement</button>
  </div>

  <div *ngIf="role === 'sitter'" class="profile-section">
    <h3>About You</h3>
    <p><strong>Description:</strong> {{ sitterInfo.description }}</p>
    <p><strong>Experience:</strong> {{ sitterInfo.experience }}</p>
    <p><strong>Working Hours:</strong> {{ sitterInfo.workingHours }}</p>
    <div class="availability">
      <label>
        <input type="checkbox" [checked]="shownSitter || available" (change)="updateAvailabilityMessage('sitter')" />
        <strong> Shown in the search</strong>
      </label>
      <br>
      <span class="availability-message" *ngIf="shownSitter || available">
        You are shown in the search
      </span>
      <span class="non-availability-message" *ngIf="!shownSitter && !available">
        You are not shown in the search 
      </span>
    </div>
    <br>
    <div class="availability">
      <label>
        <input type="checkbox"  (change)="updateAvailabilityMessage('availability')" />
        <strong> Available</strong>
      </label>
      <br>
      <span class="availability-message" *ngIf="available">
        You are shown as available in the search for pet owners
      </span>
      <span class="non-availability-message" *ngIf="!available">
        You are not shown as available in the search for pet owners
      </span>
    </div>
  </div>

  <div class="profile-section">
    <h3>Case History</h3>
    <p>History of cases will be displayed here.</p>
  </div>
</div>
