<div class="announcement-page">
  
  <div class="sitter-details">
    <h1>Sitter Announcement or Pet Owner Announcement</h1>
    <h3>About the Sitter</h3>
    <h2>Albert</h2>
    <img [src]="'https://static1.bigstockphoto.com/8/7/5/large1500/5781083.jpg'" alt="name" class="sitter-image" />
    <p><strong>Description:</strong> description </p>
    <p><strong>Location:</strong> Barysau </p>
    <p><strong>Working Hours:</strong> workingHours </p>
    <p><strong>Rate:</strong> 20 euro</p>
  </div>

  <br>
  <p> ..... or .....</p>
  <br>

  <div class="request-details">
    <h3>Pet Care Request</h3>
    <h2>Guchi</h2>
    <img [src]="'https://avatars.mds.yandex.net/i?id=e2523a6042990badcc0de02187d39d70a762470a-9107157-images-thumbs&n=13'" alt="name" class="sitter-image" />
    <p><strong>Owner:</strong> Anna</p>
    <p><strong>Pet Type:</strong> dog</p>
    <p><strong>Description:</strong> description </p>
    <p><strong>Location:</strong> Vilna </p>
    <p><strong>Booking Date:</strong> 12-13.02.2026 </p>
    <p><strong>Payment:</strong> 3 euro</p>
  </div>

  <button class="btn" (click)="confirmBooking()">Contact</button>

  <app-modal *ngIf="bookingConfirmed" (close)="bookingConfirmed = false"></app-modal>

</div>