<app-header></app-header>
<ion-content>
  <app-filters></app-filters>
  <app-search-results-page></app-search-results-page>
</ion-content>

<ion-toolbar position="bottom">
    <!-- Your header content here -->
    <ion-title>Pet App</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
