<div class="announcement-page">
  
  <div class="request-details">
    <h3>About the Pet Owner</h3>
    <h2>{{ ownerData.petName }}</h2>
    <img [src]="ownerData.petPhoto" alt="{{ ownerData.petName }}" class="pet-image" />
    
    <div class="details">
      <p><strong>Owner:</strong> {{ ownerData.name }}</p>
      <p><strong>Pet Type:</strong> {{ ownerData.petType }}</p>
      <p><strong>Description:</strong> {{ ownerData.petDescription }}</p>
      <p><strong>Location:</strong> {{ ownerData.location }}</p>
      <p><strong>Booking Date:</strong> {{ ownerData.booking }}</p>
      <p><strong>Payment:</strong> 3 Euro</p>
      <p><strong>Case History:</strong> Good</p>
    </div>
  </div>

  <button class="btn contact-btn" *ngIf="showContactButton" (click)="confirmBooking()">Contact</button>

  <app-modal *ngIf="bookingConfirmed" (close)="bookingConfirmed = false"></app-modal>

</div>
