<div class="announcement-page">
  <h1>Create Pet Owner Announcement</h1>

  <form (submit)="submitAnnouncement()">
    <div class="request-details">
      <label for="petName">Pet Name</label>
      <input type="text" id="petName" placeholder="Enter pet's name" required />

      <label for="petOwner">Owner's Name</label>
      <input type="text" id="petOwner"  placeholder="Enter owner's name" required />

      <label for="petLocation">Location</label>
      <input type="text" id="petLocation" placeholder="Enter location" required />

      <label for="petType">Pet Type</label>
      <select id="petType">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="other">Other</option>
      </select>

      <label for="petDescription">Description</label>
      <textarea id="petDescription" placeholder="Enter description" required></textarea>

      <label for="bookingDate">Booking Date, from</label>
      <input type="date" id="bookingDate" required />
      <label for="bookingDate">Booking Date, to</label>
      <input type="date" id="bookingDate" required />

      <label for="payment">Payment (in Euro)</label>
      <input type="number" id="payment" placeholder="Enter payment amount" required />
    </div>

    <button type="submit" class="btn" routerLink="/profile" routerLinkActive="active">Submit Announcement</button>
  </form>
</div>
