/* Web CSS */

html, body {
  height: 100%;
  overflow: auto;
}

.app-root {
  display: block;
  height: 100%;
}

.web-content {
  display: block;
  padding: 20px;
  overflow-y: auto; /* Add vertical scrolling */
  max-height: 100%;
  box-sizing: border-box;
}

.web-footer {
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.web-footer h3 {
  margin: 0;
}

.web-footer nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.web-footer nav a:hover {
  color: #007bff;
}


